<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Mongoose Scraper</h1>
    <p class="lead">C|Net Edition</p>
  </div>

    {{#each articles}}
      {{#if this.saved}}
        <div class="card mb-3">
          <div class="card-header">
            <h3><a href="{{this.link}}">{{this.title}}</a></h3>
            <a class="btn btn-danger delete-article-btn" role="button" data-id={{this._id}}>Delete from Saved</a>
            <a class="btn btn-secondary" role="button" data-id={{this._id}}>Article Notes</a>
          </div>
          <div class="card-body">
            {{this.summary}}
          </div>
        </div>
        {{/if}}
    {{/each}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/index.js"></script>